.intro {
  font-style: italic;
  font-size: 20px;
}

body {
  background-color: lightblue;
}


hr {
  width: 100%;
  height: 1px;
  border-bottom: 3px solid gold;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.about-me {
  border: 2px solid gold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 50px;
}

.amt {
  text-align: center;
}

.sidebar {
  width: 10%;
  float: right;
  background-color: gold;
  shape-outside: circle(25%);
  margin-right: 67%;

}

.sidebar1 {
  width: 10%;
  float: right;
  background-color: lightblue;
  shape-outside: circle(25%);
  margin-right: 37%;
  border-color: lightblue;

}
